<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{servicio.titulo}}</h1>
    <p>{{servicio.materiaPrima}}</p>
    <a href="{% url  'update_presupuesto' servicio.id %}">Update</a>
    <form action ="{% url 'delete_presupuesto' servicio.id %}" method="post">
        {%csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <a href="{% url 'mostrar_presupuestos' %}">Back to planilla total</a>

</body>
</html>